data/날씨데이터/ASOS_HOUR_1974_1979.csv
data/날씨데이터/ASOS_DAILY_2012_2025.csv
data/날씨데이터/ASOS_DAILY_2000_2011.csv
data/날씨데이터/ASOS_DAILY_1974_1999.csv
data/날씨데이터/ASOS_HOUR_2000_2011.csv
data/날씨데이터/ASOS_HOUR_1990_1999.csv
data/날씨데이터/ASOS_HOUR_1980_1989.csv
data/날씨데이터/ASOS_HOUR_2012_2025.csv
